<html>
    <head>
        <title>
            The Best YOUTUBE SEARCHER
        </title>
<style>
body {
    background-color: grey;
    color: white
}
</style>
    </head>

    <body>
        <center>
            <big><big><big><big><big>Welcome to the next way of youtube searching!

        <br>
        <br>
        <br>
        <br>
        <br>
            <form method="post">
        <label for="video_search">Insert video search</label>
        <br>
        <input type="text" name="video_search"
               placeholder="e.g. george hotz chat"
               ></input>
        <br>
        <label for="word_search">Insert video search</label>
        <br>
        <input type="text" name="word_search"
               placeholder="e.g. linux"
               ></input>
        <br>
        <label for="limit">Insert limit search (the more, the slower!)</label>
        <br>
        <input type="number" name="limit"
               value=10
               ></input>
        <br>

        <br>
        <button type="submit">Submit</button>
    </form>
</big></big></big></big></big>
    
